@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

.body{
    -fx-background-image: url("assets/unisa.png");
    -fx-background-size: 400px 400px; /* Larghezza e altezza specifiche */
    -fx-background-position: bottom right; /* Posizionamento in basso a destra */
    -fx-background-repeat: no-repeat; /* Per assicurarsi che l'immagine non venga ripetuta */
    -fx-background-color: rgba(255, 255, 255, 0.5);

    /* Font */
    -fx-font-family: "Roboto", serif;
    -fx-font-weight: 300;
    -fx-font-style: normal;

}

.allButton{
    -fx-cursor: hand;
    -fx-background-color: lightgray;
    -fx-border-radius: 2px;
    -fx-border-color: gray;
}

.allButton:hover{
    -fx-text-fill: blue;
    -fx-border-color: blue;
    -fx-border-radius: 2px;

}

@font-face {
    font-family: 'FontAwesome';
    src: url('path/to/fontawesome-webfont.ttf');
}

.search:before{
    content: "\f007"; /* Font Awesome unicode for user icon */
    font-family: 'FontAwesome';
    margin-right: 10px;
}